
.contact-outer {
  width: 100%;
  min-height: 100vh;
  background: #f9efe7;
  padding: 20px;
  font-family: "Inter", sans-serif;
  color: #1d1d1d;
}


.site-title {
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
  color: #062a45;
}


.contact-quote {
  text-align: center;
  font-size: 26px;
  font-family: "Georgia", serif;
  margin-top: 16px;
  color: #333;
}

.quote-underline {
  width: 280px;
  height: 14px;
  background-image: url("./brush.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px auto 35px;
}


.contact-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: start;
}


.contact-photo-card {
  width: 45%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #e3d6c8;
  box-shadow: 0px 4px 15px rgba(124, 81, 57, 0.1);
}

.contact-photo-card img {
  width: 100%;
  border-radius: 8px;
}

.img-caption {
  text-align: center;
  margin-top: 6px;
  font-size: 15px;
  padding-bottom: 5px;
}


.contact-form {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #062a45;
}

input,
textarea {
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #d4c2aa;
  outline: none;
  background: #fff;
}

input:focus,
textarea:focus {
  border-color: #f48c5a;
}

.error {
  border-color: red;
}

.msg-error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.submit-btn {
  background: #f48c5a;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  width: 160px;
}

.submit-btn:hover {
  background: #de7343;
}


.msg {
  font-size: 15px;
}
.msg.success { color: green; }
.msg.error { color: red; }


@media(max-width: 900px) {
  .contact-container {
    flex-direction: column;
    width: 95%;
  }
  .contact-photo-card,
  .contact-form {
    width: 100%;
  }
}
